<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operation</title>
</head>
<body ng-controller="oper">

    <input type="text" ng-model="a" placeholder="Value 1">
    <input type="text" ng-model="b" placeholder="Value 2">
    <button ng-click="add()">Add</button>
    <button ng-click="sub()">Subract</button>
    <button ng-click="mul()">Multiply</button>
    <button ng-click="div()">Divide</button>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script src="./operation.js"></script>
</body>
</html>