<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular</title>
</head>
<body ng-app="myapp">

    <div ng-controller="arr">
        <p>{{name}}</p>
        <p>Array of Elements</p>
        <h3 ng-repeat="i in alpha">
            {{i}}
        </h3>

        <p>Object</p>
        <h3>{{obj.name}}</h3>
        <h3>{{obj.age}}</h3>

        <p>Button Click</p>
        <button ng-click="print()">Click Hi</button><br>

        --------------------------------
        <p>Getting input from input box</p>
        <input type="text" name="email" id="email" ng-model="email" placeholder="Enter E-mail">
        <button ng-click="getData()">Send</button>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <script src="./taskarray.js"></script>
</body>
</html>